:root {
  --clr-violet: #6137ea;
  --clr-yellow: #eacd37;
  --clr-gray: #e3e3e3;

  --clr-dark-blue-100: #080414;
  --clr-dark-blue-200: #1f1935;
  --clr-dark-blue-300: #12101a;
  --clr-dark-blue-400: #020c15;

  --clr-dark-gray: #52596a;
  --clr-gray: #e3e3e3;
  --clr-white: #fff;

  --font-family-primary: "Hind Siliguri", sans-serif;
  --font-family-secondary: "Mulish", sans-serif;

  --fw-bold: 700;

  --fs-16px: 16px;
  --fs-18px: 18px;
  --fs-24px: 24px;
  --fs-26px: 26px;
  --fs-28px: 28px;
  --fs-38px: 38px;
  --fs-50px: 50px;
  --fs-60px: 60px;
  --fs-72px: 72px;
  --fs-82px: 82px;

  --screen-sm: 576px;
  --screen-md: 768px;
}

/* ***********************************
   Utils subtitles */

.text-gradient-1 {
  background: linear-gradient(
    90.48deg,
    #40c9ff 22.53%,
    #f89b29 53.42%,
    #ff0f7b 87.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.border-gradient:before {
  background-image: linear-gradient(to right, #40c9ff, #be00cf, #ff0f7b);
}

.section-1 {
  font-family: var(--font-family-primary);
  background-color: var(--clr-dark-blue-400);
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.section-header-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  max-width: 1170px;

  .text-gradient-1 {
    width: 570px;
    font-size: var(--fs-60px);
    line-height: 70px;
    font-weight: var(--fw-bold);
    margin-right: 30px;
  }

  .page-subtitle-2 {
    width: 570px;
    font-weight: 500;
    line-height: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--fs-24px);
    color: var(--clr-white);
  }

  .page-subtitle-1 {
    line-height: 30px;
    font-size: var(--fs-28px);
    font-weight: var(--fw-bold);
    color: var(--clr-white);
  }
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  display: grid;
  justify-content: center;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: var(--font-family-secondary);
  z-index: 2;
}

.div-logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dark-blue-200);
  padding: 33px 35px 33px 35px;
}

.menu {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  padding: 90px 61px 0 60px;
  background-color: var(--clr-dark-blue-300);
}

.menu-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.nav-links {
  font-weight: 900;
  font-size: var(--fs-16px);
  transform: rotate(-90deg);
  color: var(--clr-white);
  margin-top: 70px;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--clr-yellow);
    text-decoration-line: underline;
    outline-offset: 40px;
  }
}

.pages-counter {
  position: absolute;
  bottom: 70px;
  font-weight: 800;
  font-size: var(--fs-18px);
  color: var(--clr-white);
}

.current-page {
  color: var(--clr-yellow);
}

.div-point {
  width: 3px;
  height: 4px;
  background-color: var(--clr-white);
  margin: 9px 0 6px 0;
  margin-left: 4px;
}

.div-line {
  width: 3px;
  height: 94px;
  background-color: var(--clr-white);
  margin-bottom: 8px;
  margin-left: 4px;
}

/* HomePage */

.home-page {
  font-family: var(--font-family-primary);
  display: flex;
  max-width: 1170px;
  height: 100vh;
}

.background-homepage {
  position: relative;
  top: -10px;
  height: 100vh;
  z-index: -1;
}

.contact-me {
  display: flex;
  align-items: center;
  top: 60px;
  right: 66px;
  position: absolute;
}

.contact-div {
  display: flex;
}

.contact-title {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  font-size: var(--fs-24px);
  margin-right: 38px;
  margin-bottom: 3px;
}

.contact-subtitle {
  font-size: var(--fs-16px);
  font-weight: 600;
  color: var(--clr-gray);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.container-home {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 20%;
}

.container-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-38px);
  z-index: 2;
}

.container-my-name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 1170px;
  z-index: 1;
  top: 110%;
  left: 60%;
}

/* ABOUT PAGE */

.about-page {
  font-family: var(--font-family-primary);
  background-color: var(--clr-dark-blue-400);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1170px;
}

.div-experience {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-subtitle-2 {
  line-height: 30px;
  font-size: var(--fs-28px);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.multicolor {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-72px);
  font-weight: var(--fw-bold);
}

.page-subtitle-3 {
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-26px);
  color: var(--clr-white);
}

.experience-subdiv {
  margin-right: 100px;
}

.tow-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 790px;
  text-align: center;
}

/* SERVICE PAGE */

.section-container .page-subtitle-4 {
  font-size: var(--fs-18px);
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  width: 307px;
  color: var(--clr-white);
  margin-top: 12px;
  margin-bottom: 30px;
}

.section-container .multicolor {
  font-size: var(--fs-28px);
  font-weight: var(--fw-bold);
  line-height: 30px;
  text-align: center;
}

.div-learn-more {
  color: var(--clr-yellow);
  font-weight: var(--fw-bold);
  font-size: var(--fs-24px);
  line-height: 30px;
}

.section-1 .container-div {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 51px 31px 46px 32px;
  border: 1.4px solid #6c6c6c;
  border-radius: 16px;
}

.div-learn-more img {
  margin-left: 8px;
}

.mr {
  margin-right: 30px;
}

.img-container {
  position: relative;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.btn-div {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-project {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: var(--fs-28px);
  text-align: center;
  color: var(--clr-white);
  background-color: var(--clr-dark-blue-400);
  position: relative;
  z-index: 2;
  margin: 40px 20px 35px 20px;

  &:before {
    position: absolute;
    content: "";
    height: 110%;
    width: 104%;
    left: -2%;
    top: -5%;
    z-index: -1;
    border-radius: 60px;
  }
}

.btn {
  background-color: var(--clr-dark-blue-400);
  border-radius: 40px;
  padding: 21px 61px 21px 61px;
}

/* SKILLS PAGE */

.subtitle-container {
  line-height: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--fs-16px);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.skills-section {
  .container-div {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    padding: 49px 20px 45px 24px;
    border: 1.4px solid #6c6c6c;
    border-radius: 16px;
    width: 270px;
  }

  .container-div .text-gradient-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 13px;
    font-size: var(--fs-28px);
    font-weight: var(--fw-bold);
    line-height: 30px;
    text-align: center;
  }

  .container-div .about-page-subtitle {
    color: var(--clr-white);
    text-align: start;
    width: 230px;
  }

  .div-learn-more {
    display: flex;
    margin-top: 28px;
    justify-content: flex-start;
  }

  .services-page-header {
    margin-bottom: 0px;
  }
}

/* PORTOFOLIOS PAGE */
