:root {
  --clr-violet: #6137ea;
  --clr-yellow: #eacd37;

  --clr-dark-blue-100: #080414;
  --clr-dark-blue-200: #1f1935;
  --clr-dark-blue-300: #12101a;
  --clr-dark-blue-400: #020c15;

  --clr-dark-gray: #52596a;
  --clr-gray: #e3e3e3;
  --clr-white: #fff;

  --font-family-primary: "Hind Siliguri", sans-serif;
  --font-family-secondary: "Mulish", sans-serif;

  --fw-bold: 700;

  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-26: 26px;
  --fs-28: 28px;
  --fs-32: 32px;
  --fs-38: 38px;
  --fs-50: 50px;
  --fs-60: 60px;
  --fs-72: 72px;
  --fs-82: 82px;

  --screen-sm: 576px;
  --screen-md: 768px;

  --padingGlobalLeft: 140px;
  --padingGlobalRight: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// ***********************************
//   Utils subtitles
.text-gradient-1 {
  background: linear-gradient(
    90.48deg,
    #40c9ff 22.53%,
    #f89b29 53.42%,
    #ff0f7b 87.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.border-gradient:before {
  background-image: linear-gradient(to right, #40c9ff, #be00cf, #ff0f7b);
}

.border-gradient-2:before {
  background-image: linear-gradient(to right, #40c9ff, #f89b29, #ff0f7b);
}

.section-1 {
  font-family: var(--font-family-primary);
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dark-blue-400);
  max-width: 100%;
}

.section-container-2 {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding: 0 var(--padingGlobalRight) 0 var(--padingGlobalLeft);
  margin: 0 auto;
}

.section-header-1 {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 50px 0px 40px 0px;

  .text-gradient-1 {
    font-size: var(--fs-60);
    line-height: 70px;
    font-weight: var(--fw-bold);
    margin-right: 30px;
  }

  .page-subtitle-2 {
    font-weight: 500;
    line-height: 34px;
    font-size: var(--fs-24);
    color: var(--clr-white);
  }

  .page-subtitle-1 {
    line-height: 30px;
    font-size: var(--fs-28);
    font-weight: var(--fw-bold);
    color: var(--clr-white);
  }
}

.section-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

// ***************************************************
// Navbar
.navbar {
  display: grid;
  justify-content: center;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: var(--font-family-secondary);
  z-index: 2;
}

.div-logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dark-blue-200);
  padding: 30px 30px 30px 30px;
}

.menu {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  padding: 90px 61px 0 60px;
  background-color: var(--clr-dark-blue-300);
}

.menu-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.nav-links {
  font-weight: 900;
  font-size: var(--fs-16);
  transform: rotate(-90deg);
  color: var(--clr-white);
  margin-top: 70px;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: var(--clr-yellow);
    text-decoration-line: underline;
    outline-offset: 40px;
  }

  .active {
    color: var(--clr-yellow);
    text-decoration-line: underline;
    outline-offset: 40px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.link-contact {
  display: none;
}

.pages-counter {
  position: absolute;
  bottom: 70px;
  font-weight: 800;
  font-size: var(--fs-18);
  color: var(--clr-white);
}

.current-page {
  color: var(--clr-yellow);
}

.div-point {
  width: 3px;
  height: 4px;
  background-color: var(--clr-white);
  margin: 9px 0 6px 0;
  margin-left: 4px;
}

.div-line {
  width: 3px;
  height: 94px;
  background-color: var(--clr-white);
  margin-bottom: 8px;
  margin-left: 4px;
}

.menu-svg {
  display: none;
}

.logo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

// ***************************************************
// HomePage
.section-home {
  font-family: var(--font-family-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #12192b;
  padding: 0 var(--padingGlobalRight) 0 var(--padingGlobalLeft);

  a {
    text-decoration: none;
    color: inherit;
  }

  .hero-canvas-loading {
    color: var(--clr-white);
    font-weight: var(--fw-bold);
    font-size: var(--fs-24);
  }

  @media (max-width: 860px) {
    display: none;
  }
}

.contact-me {
  display: flex;
  align-items: center;
  top: 60px;
  right: 66px;
  position: absolute;
}

.contact-div {
  display: flex;
  cursor: pointer;
}

.contact-title {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  font-size: var(--fs-24);
  margin-right: 40px;
  margin-bottom: 3px;
}

.contact-subtitle {
  font-size: var(--fs-16);
  font-weight: 600;
  color: var(--clr-gray);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.container-home {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 20%;
}

.container-home-text {
  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}

.container-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-38);
}

.container-my-name {
  display: flex;
  justify-content: flex-start;
  position: relative;
  transform: scale(0.7);
  left: -15%;
}

// ***************************************************
// ABOUT PAGE
.section-about {
  font-family: var(--font-family-primary);
  background-color: var(--clr-dark-blue-400);
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 80px 0 80px 0;


  .div-experience {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 100px;
  }

  .page-subtitle-second {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-72);
    font-weight: var(--fw-bold);
  }

  .experience-title {
    font-size: var(--fs-32);
    font-weight: var(--fw-bold);
  }

  .experience-description {
    line-height: 30px;
    font-size: var(--fs-16);
    font-weight: var(--fw-bold);
    color: var(--clr-white);
  }

  .irina-image {
    border-radius: 12px;
    max-width: 600px;
    margin: 50px auto 0 auto;
    width: 100%;
    height: auto;
  }


  @media (max-width: 1120px) {
    .page-subtitle-second {
      font-size: var(--fs-50);
    }

    .experience-title {
      font-size: var(--fs-26);
    }
  }

  @media (max-width: 768px) {
    padding-top: 120px;

    .page-subtitle-3 {
      font-size: var(--fs-20);
    }

    .page-subtitle-second {
      font-size: var(--fs-28);
      margin-bottom: 20px;
    }

    .div-experience {
      flex-direction: column;
      text-align: center;
      gap: 50px;
    }
  }
}

.page-subtitle-2 {
  line-height: 30px;
  font-size: var(--fs-28);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.page-subtitle-3 {
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-26);
  color: var(--clr-white);
}

.tow-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// ***************************************************
// SERVICE PAGE
.section-container {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  .page-subtitle-4 {
    font-size: var(--fs-18);
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    max-width: 307px;
    color: var(--clr-white);
    margin-top: 10px 0 39px 0;
  }

  .text-gradient-1 {
    font-size: var(--fs-28);
    font-weight: var(--fw-bold);
    line-height: 30px;
    text-align: center;
  }
}

.div-learn-more {
  color: var(--clr-yellow);
  font-weight: var(--fw-bold);
  font-size: var(--fs-24);
  line-height: 30px;
  cursor: pointer;

  &:hover {
    color: rgb(244, 244, 166);
  }
}

.section-1 .container-div {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 51px 31px 46px 32px;
  border: 1.4px solid #6c6c6c;
  border-radius: 16px;

  .page-subtitle-4 {
    margin: 12px 0 30px 0;
  }
}

.div-learn-more img {
  margin-left: 8px;
}

.img-container {
  position: relative;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.btn-div {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-project {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: var(--fs-28);
  text-align: center;
  color: var(--clr-white);
  background-color: var(--clr-dark-blue-400);
  position: relative;
  z-index: 1;
  margin: 40px 20px 35px 20px;
  cursor: pointer;

  &:before {
    position: absolute;
    content: "";
    height: 110%;
    width: 104%;
    left: -2%;
    top: -5%;
    z-index: -1;
    border-radius: 60px;
  }
}

.btn {
  background-color: var(--clr-dark-blue-400);
  border-radius: 40px;
  padding: 21px 61px 21px 61px;
  cursor: pointer;
}

.service-section {
  .btn:hover {
    background-color: rgb(121, 121, 121, 0.6);
  }
}

// ***************************************************
// SKILLS PAGE

.subtitle-container {
  line-height: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--fs-16);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.container-percent {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 53px 0 30px 0;
  gap: 160px;
}

.container-percent .btn-project {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: var(--fs-28);
  text-align: center;
  color: var(--clr-white);
  position: absolute;
  background: transparent;
  margin-top: 65px;
  left: -16px;
  z-index: 1;

  &:before {
    border-radius: 50%;
    content: "";
    height: 108%;
    width: 108%;
    left: -4%;
    top: -5%;
    z-index: -1;
  }
}

.container-percent .btn {
  border-radius: 50%;
  padding: 45px 38px 45px 38px;
}

.box {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 40px;

  .percent {
    width: 150px;
    height: 150px;
  }

  .percent svg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 190px;
    height: 180px;
  }

  .percent svg circle {
    width: 180px;
    height: 170px;
    fill: none;
    stroke-width: 6;
    stroke: var(--clr-dark-blue-400);
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
  }

  .percent svg .circle-1:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: var(--clr-dark-blue-400);
  }

  .percent svg .circle-1:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 94) / 100);
    stroke: var(--clr-white);
  }

  .percent svg .circle-2:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 89) / 100);
    stroke: var(--clr-white);
  }

  .percent svg .circle-3:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 91) / 100);
    stroke: var(--clr-white);
  }

  .percent svg .circle-4:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 75) / 100);
    stroke: var(--clr-white);
  }

  .text {
    display: flex;
    color: var(--clr-yellow);
    font-weight: 800;
    font-size: var(--fs-16);
    background-color: transparent;
  }
}

.skills-section {
  .section-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  .container-div {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    padding: 49px 20px 45px 24px;
    border: 1.4px solid #6c6c6c;
    border-radius: 16px;
    max-width: 270px;
  }

  .container-div .text-gradient-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px 10px 0px;
    font-size: var(--fs-28);
    font-weight: var(--fw-bold);
    line-height: 30px;
    text-align: center;
  }

  .container-div .about-page-subtitle {
    color: var(--clr-white);
    text-align: start;
    max-width: 230px;
  }

  .div-learn-more {
    display: flex;
    margin-top: 28px;
    justify-content: flex-start;
  }

  .services-page-header {
    margin-bottom: 0px;
  }
}

// ***************************************************
// PORTOFOLIOS PAGE

.portfolio-section {
  .container-div {
    border: none;
    cursor: pointer;
  }

  .section-container {
    gap: 0;
  }

  .div-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--clr-white);
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }

  .page-subtitle-4 {
    display: flex;
    justify-content: flex-start;
  }

  .text-gradient-1 {
    display: flex;
    justify-content: flex-start;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  button {
    border: 1px solid #e7e7e7;
    font-size: var(--fs-24);
    font-weight: var(--fw-bold);
    background-color: var(--clr-dark-blue-400);
    color: var(--clr-white);
    border-radius: 10px;
    padding: 14px 65px 14px 65px;
    cursor: pointer;
  }

  button:nth-child(1) {
    padding: 14px 36px 14px 36px;
  }

  button:hover {
    border: 1px solid var(--clr-yellow);
    color: var(--clr-dark-blue-400);
    background-color: var(--clr-yellow);
  }
}

.placeholder-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 280px;
  left: 400px;
  top: 0px;

  background: #ffffff;
  border-radius: 16px;
}

.container-div-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  gap: 25px;
}

// ***************************************************
// CONTACT ME SECTION

.contact-me-section {
  .section-header-1 {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 1fr;
    align-items: center;
    max-width: 1170px;
  }

  .text-gradient-1 {
    font-size: var(--fs-82);
    margin-bottom: 20px;
  }

  .page-subtitle-2 {
    font-size: var(--fs-26);
    max-width: 697px;
    margin-bottom: 70px;
  }

  .section-email {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .page-subtitle-1 {
      font-size: var(--fs-24);
      font-weight: 500;
      margin-left: 7px;
    }
  }

  .bottom-line {
    border: 1px solid #52596a;
    margin-top: 43px;
  }
}

.btn-2 {
  border-radius: 40px;
  padding: 21px 70px 21px 71px;
  margin-bottom: 208px;
  background: linear-gradient(94.6deg, #40c9ff 9.94%, #e81cff 86.12%);
  color: var(--clr-white);
  font-size: var(--fs-28);
  font-weight: var(--fw-bold);
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

// ***************************************************
// BACKDROP

.backdrop-section {
  display: block;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  font-family: var(--font-family-primary);
}

.backdrop-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #061726;
  border-radius: 30px;
  padding: 60px 89px 61px 51px;

  .text-gradient-1 {
    font-size: var(--fs-60);
    line-height: 70px;
    font-weight: var(--fw-bold);
    -webkit-text-stroke-width: 0px;
    margin-bottom: 30px;
  }

  .btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 50px;
  }
}

.page-subtitle-5 {
  font-size: var(--fs-16);
  font-weight: 800;
  color: var(--clr-white);
}

.backdrop-div {
  display: flex;
  justify-content: center;
  align-items: center;

  .page-subtitle-5 {
    font-weight: 400;
    margin-left: 8px;
    display: flex;
    justify-content: center;
  }
}

.backdrop-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 47px;
  margin-top: 15px;
}

.backdrop-div-2 {
  display: grid;

  input {
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #061726;
    padding: 15px 40px 15px 40px;
    margin-top: 8px;
  }

  .page-subtitle-5 {
    margin-top: 20px;
  }
}

.backdrop-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  input {
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #061726;
    padding: 15px 60px 15px 60px;
    margin-top: 8px;
  }
}

@media (max-width: 1400px) {
  .section-container {
    max-width: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
  }

  .container-percent {
    max-width: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 30px;
    gap: 100px;
  }

  .portfolio-section .section-container {
    max-width: fit-content;
    grid-template-columns: 1fr 1fr;
  }

  .service-section .section-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1125px) {
  .portfolio-section .section-container {
    max-width: fit-content;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1300px) {
  .section-container {
    grid-template-columns: 1fr 1fr;
  }

  .container-percent {
    max-width: fit-content;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1043px) {
  .contact-me-section {
    .section-container-2 {
      max-width: 768px;
    }

    .text-gradient-1 {
      font-size: var(--fs-60);
    }

    .btn-2 {
      margin-bottom: 90px;
    }
  }

  .service-section .section-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 860px) {
  .section-header-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-container-2 {
    padding: 80px 30px 0 30px;
  }

  .section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .navbar {
    display: flex;
    height: auto;
    top: 0;
    width: 100%;
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: inherit;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0;
  }

  .menu.open {
    display: none;
  }

  .pages-counter {
    display: none;
  }

  .menu-section {
    display: none;
  }

  .menu-section.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--clr-dark-blue-300);
    padding: 10px;
    gap: 10px;
  }

  .menu-section .nav-links {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    transform: rotate(0);
    margin-top: 0;
  }

  .link-contact {
    display: flex;
  }

  .menu-svg {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 30px;
    top: 40%;
  }

  .div-logo {
    padding: 15px 20px;
    position: static;
  }

  .container-percent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 40px;
  }

  .btn-project {
    margin-left: 20px;
  }

  .service-section {
    .section-container {
      grid-template-columns: 1fr;
    }

    .container-div {
      margin: 10px auto;
    }

    .btn-project {
      margin-left: 0;
    }
  }

  .experience-subdiv {
    margin-right: 0;
  }

  .buttons {
    display: none;
  }

  .portfolio-section {
    .section-container {
      grid-template-columns: 1fr;
    }
  }

  .contact-me {
    display: none;
  }

  .container-my-name {
    transform: scale(0.5);
    left: -200px;
  }

  .backdrop-container-1 {
    gap: 35px;
  }
}

@media (max-width: 576px) {
  .section-container-2 {
    padding: 30px 30px 0 30px;
  }
  .container-title {
    font-size: var(--fs-24);
  }

  .container-my-name {
    transform: scale(0.4);
    left: -230px;
  }

  .section-header-1 {
    justify-content: center;
    align-items: center;

    .page-subtitle-1 {
      font-size: var(--fs-18);
    }

    .text-gradient-1 {
      font-size: var(--fs-28);
    }

    .page-subtitle-2 {
      font-size: var(--fs-16);
    }
  }

  .service-section {
    .section-container {
      .container-div {
        padding: 30px 10px 30px 10px;
      }

      .img-container {
        transform: scale(0.8);
      }

      .text-gradient-1 {
        font-size: var(--fs-24);
      }

      .page-subtitle-4 {
        font-size: var(--fs-16);
      }
    }

    .btn {
      font-size: 20px;
    }
  }

  .div-learn-more {
    font-size: 20px;
  }

  .skills-section {
    .section-container-2 {
      max-width: 300px;
      padding: 30px 30px 0 30px;
    }

    .section-container {
      grid-template-columns: 1fr;
      margin: 0 auto;
    }

    .container-percent {
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
      margin: 40px auto 0 auto;

      .btn-project {
        margin-left: 20px;
      }
    }

    .container-div {
      .text-gradient-1 {
        font-size: var(--fs-24);
      }
    }
  }

  .portfolio-section {
    .container-div {
      .text-gradient-1 {
        font-size: var(--fs-24);
      }

      .page-subtitle-4 {
        font-size: var(--fs-16);
      }
    }

    .container-div-2 {
      gap: 60px;
    }
  }

  .contact-me-section {
    .text-gradient-1 {
      font-size: 32px;
    }

    .btn-2 {
      font-size: 20px;
    }

    .section-email {
      .page-subtitle-1 {
        font-size: var(--fs-18);
      }
    }
  }
}
